In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
tv_shows_file = "Resources/tv_shows.csv"
tv_shows_df = pd.read_csv(tv_shows_file)
tv_shows_df.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type,Unnamed: 11
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,NaN
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,NaN
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,NaN
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,NaN
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,NaN

In [4]:
netflix_shows_df = tv_shows_df[['Title', 'Age', 'Netflix']]
netflix_shows_df.head()

              Title  Age  Netflix
0      Breaking Bad  18+        1
1   Stranger Things  16+        1
2       Money Heist  18+        1
3          Sherlock  16+        1
4  Better Call Saul  18+        1

In [5]:
netflix_shows_df = netflix_shows_df[netflix_shows_df.Netflix != 0]

In [6]:
netflix_shows_df.loc[netflix_shows_df.Age == 'all', 'Age']= 'All'

In [8]:
netflix_shows_df.head()

              Title  Age  Netflix
0      Breaking Bad  18+        1
1   Stranger Things  16+        1
2       Money Heist  18+        1
3          Sherlock  16+        1
4  Better Call Saul  18+        1

In [12]:
netflix_shows_df = netflix_shows_df.rename(columns={'Netflix':'Streaming_Service'})

In [13]:
netflix_shows_df.loc[netflix_shows_df.Streaming_Service == 1, 'Streaming_Service']= 'Netflix'

In [11]:
prime_tv_shows_file = "Resources/Prime TV Shows Data set.csv"
prime_tv_shows_df = pd.read_csv(prime_tv_shows_file, encoding= 'unicode_escape')
prime_tv_shows_df.head()

,S.no.,Name of the show,Year of release,No of seasons available,Language,Genre,IMDb rating,Age of viewers
0,1,Pataal Lok,2020.0,1.0,Hindi,Drama,7.5,18+
1,2,Upload,2020.0,1.0,English,Sci-fi comedy,8.1,16+
2,3,The Marvelous Mrs. Maisel,2017.0,3.0,English,"Drama, Comedy",8.7,16+
3,4,Four More Shots Please,2019.0,2.0,Hindi,"Drama, Comedy",5.3,18+
4,5,Fleabag,2016.0,2.0,English,Comedy,8.7,18+

In [14]:
prime_tv_shows_df = prime_tv_shows_df[['Name of the show', 'Age of viewers']]
prime_tv_shows_df

              Name of the show Age of viewers
0                   Pataal Lok            18+
1                       Upload            16+
2    The Marvelous Mrs. Maisel            16+
3       Four More Shots Please            18+
4                      Fleabag            18+
..                         ...            ...
399                        NaN            NaN
400                        NaN            NaN
401                        NaN            NaN
402                        NaN            NaN
403                        NaN            NaN

[404 rows x 2 columns]

In [16]:
prime_tv_shows_df = prime_tv_shows_df['Streaming_Service']
prime_tv_shows_df

KeyError: 'Streaming_Service'